{% import "_components/assets.html" as assets %}
{% import "_components/navigation.html" as navigation %}
{% import "_components/intro.html" as intro %}
{% import "_components/runtime.html" as runtime %}
{% import "_components/organization.html" as organization %}
{% import "_components/api_keys.html" as api_keys %}
{% import "_components/built_different.html" as built_different %}
{% import "_components/cta_footer.html" as cta %}

{{ assets.styles() }}
<div
    class="w-full flex flex-col items-center bg-stone-50 dark:bg-stone-950 min-h-screen text-stone-800 dark:text-stone-200"
>
    {{ navigation.navigation() }}

    <div class="max-w-6xl w-full">
        <div class="w-full px-4 md:px-6 pb-10">
            <div class="flex flex-col">
                {{ intro.intro() }}
                {{ runtime.runtime_classes() }}
                {{ organization.organization_workspaces() }}
                {{ api_keys.api_keys() }}
                {{ built_different.built_different() }}
                {{ cta.cta_footer() }}
            </div>
        </div>
    </div>
</div>
{{ assets.scripts() }}
