:root {
  --ascii-transition-bg: #000;
  --ascii-transition-color: #fff;
}

[data-ascii-curtain] {
  z-index: 9990;
  pointer-events: none;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
}

[data-ascii-curtain="cover"],
[data-ascii-curtain="reveal"] {
  pointer-events: auto;
  visibility: visible;
}

html[data-vt-loading],
html[data-vt-loading] * {
  cursor: wait;
}
